<div class="content fullsize" ng-show="!isLoggedIn && !isUserUpdating">
    <div class="error-message">Для просмотра данной страницы необходимо войти на сайт через Steam.</div>
</div>

<div class="inventory-screen" ng-show="!activeSell && isLoggedIn">
    <div class="content columns-{{columns}}">
    
    	<div class="content-top">
    		<div class="game">
    			<h1>Выберите игру</h1>
    			<div ng-click="selectGame('570')" ng-class="{ 'current': selectedGame == 570}"><ng-include src="'resources/svg/dota.svg'"></ng-include></div>
    			<div ng-click="selectGame('730')" ng-class="{ 'current': selectedGame == 730}"><ng-include src="'resources/svg/csgo.svg'"></ng-include></div>
    			<div ng-click="selectGame('440')" ng-class="{ 'current': selectedGame == 440}"><ng-include src="'resources/svg/tf.svg'"></ng-include></div>
    		</div>
    		
    		<div class="search">
    			<h1>Поиск по названию</h1>
    			<input type="text" class="default" ng-model="search.description.market_name" placeholder="Введите название">
    			<div class="filter" ng-click="selectedGame ? filterBlock = !filterBlock : null"><ng-include src="'resources/svg/filter.svg'"></ng-include></div>
    			<div class="filter-block buy" ng-show="filterBlock">
    				<div>
                        <div ng-repeat="filter in tagsProps[selectedGame].filters">
                            <h1>{{tagsProps[selectedGame].properties[language][filter.property]}}</h1>
                            <div class="custom-select">
                                <ng-include src="'resources/svg/arrow.svg'"></ng-include>
                                <input type="text" class="default" placeholder="Выберите/введите" ng-model="gameFilters.customSelect[filter.property].val" ng-focus="gameFilters.onFocus(filter.property)" ng-blur="gameFilters.onBlur(filter.property)" ng-keydown="gameFilters.navigateList($event, filter.property)">
                                <ul id="{{filter.property}}" ng-class="{ 'visible': gameFilters.customSelect[filter.property].show == true }">
                                    <li ng-class="{ 'selected': $index == gameFilters.customSelect[filter.property].selected }" ng-attr-id="{{ filter.property + '-' + $index }}" ng-repeat="tag in (gameFilters.customSelect[filter.property].list = (filter.tags | filter: gameFilters.typeAhead(gameFilters.customSelect[filter.property].val) | orderBy: gameFilters.alphabeticalSort(filter.alphabetic, filter.tags)))" ng-click="gameFilters.onSelect(filter.property, tag)">
                                        {{tagsProps[selectedGame].tags[language][tag]}}
                                    </li>
                                </ul>
                                <div ng-show="filter.multiple" class="tag" ng-repeat="tag in gameFilters.tags[filter.property]">{{tagsProps[selectedGame].tags[language][tag]}} <span ng-click="gameFilters.subtractFilter(filter.property, $index);"></span></div>
                            </div>
                        </div>
    				</div>
    			</div>
    		</div>
    	</div>
    	
    	<div ui-draggable="true" drag="item" ng-dblclick="addItem(item)" ng-click="detailedView(item)"
    		 on-drop-success="dropSuccessHandler($event, item, inventory)"
    		 dir-paginate="item in inventory | filter:search | filter:gameFilters.filterByTags() | itemsPerPage: 12" class="content-block" ng-class="{ 'detailed': detailedItem == item.id }">
    		<div class="brief-view">
    			<img draggable="false" ng-src="{{applicationUtils.imageURL(item.description.icon_url_large, 300)}}">
    			<div class="title">{{item.description.market_name}}</div>
    		</div>
    		<div class="detailed-view">
    			<img draggable="false" ng-src="{{applicationUtils.imageURL(item.description.icon_url_large, 300)}}">
    			<div class="info">
    				<b>{{item.description.market_name}}</b>
    				<div class="description">
    					<div ng-repeat="line in item.description.descriptions">{{line.value.charCodeAt(0) == '60' ? "" : line.value }}</div>
    				</div>
    				<div class="tags">
    					<div ng-show="item.tags.Hero" class="tag"><b>Герой: </b>{{tagsProps[selectedGame].tags[language][item.tags.Hero]}}</div>
    					<div ng-show="item.tags.Quality" class="tag"><b>Качество: </b>{{tagsProps[selectedGame].tags[language][item.tags.Quality]}}</div>
    					<div ng-show="item.tags.Rarity" class="tag"><b>Редкость: </b>{{tagsProps[selectedGame].tags[language][item.tags.Rarity]}}</div>
    					<div ng-show="item.tags.Slot" class="tag"><b>Слот: </b>{{tagsProps[selectedGame].tags[language][item.tags.Slot]}}</div>
    					<div ng-show="item.tags.Type" class="tag"><b>Тип: </b>{{tagsProps[selectedGame].tags[language][item.tags.Type]}}</div>
    					<div ng-show="item.tags.Weapon" class="tag"><b>Оружие: </b>{{tagsProps[selectedGame].tags[language][item.tags.Weapon]}}</div>
    					<div ng-show="item.tags.ItemSet" class="tag"><b>Коллекция: </b>{{tagsProps[selectedGame].tags[language][item.tags.ItemSet]}}</div>
    				</div>
    				<button type="button" ng-click="addItem(item)">Продать</button>
    			</div>			
    		</div>
    	</div>
    	
    	<div ng-show="inventoryUnavailable" class="error-message">Не удалось получить содержимое инвентаря. Убедитесь, что ваш инвентарь открыт и в нем есть предметы, для которых разрешен обмен.</div>
    	<div ng-show="steamUnavailable" class="error-message">Сервис Steam сейчас недоступен, попробуйте повторить запрос позднее.</div>
    	
    	<dir-pagination-controls></dir-pagination-controls>
    </div>
    
    <div class="clear-sidebar" ng-show="sidebarMaximized" ng-click="$rootScope.menuMaximized = false; $rootScope.sidebarMaximized = false"></div>
    
    <div ng-class="{ 'maximized': sidebarMaximized == true && menuMaximized == false }" class="sidebar" ui-on-Drop="onDrop($event, $data, selectedItems)">
    	<div class="scroller">
    		<h1>Выбранный инвентарь</h1>
    		<div ng-hide="selectedItems.length != 0">Перетащите сюда инвентарь, который Вы хотите продать, либо кликните по объекту два раза.</div>
    		
    		<div on-drop-success="dropSuccessHandler($event, $index, selectedItems)"
    			 ng-repeat="item in selectedItems"
    			 class="selected-item">
    			<img draggable="false" ng-src="{{applicationUtils.imageURL(item.description.icon_url_large, 300)}}">
    			<div class="description">
    				<div ng-click="removeItem(item)"><ng-include src="'resources/svg/delete.svg'"></ng-include></div>
    				<div class="title">{{item.description.market_name}}</div>
    				<div class="tag"><b>Герой: </b>{{tagsProps[selectedGame].tags[language][item.tags.Hero]}}</div>
    				<div class="tag"><b>Редкость: </b>{{tagsProps[selectedGame].tags[language][item.tags.Rarity]}}</div>
    			</div>
    			<div class="money">
    				<div class="tag">Рекоммендованная цена: <span class="price"></span></div>
    				<div class="left">
    					<div class="tag">Ваша цена:</div>
    					<input type="text" class="default" ng-model="item.price" onkeypress='return event.charCode >= 44 && event.charCode <= 57 && event.charCode != 45 && event.charCode != 47'>
    				</div><div class="right">
    					<div class="tag">При продаже вы получите:</div>
    					<div><span class="price">{{item.price * 0.9 | number:2}}</span><span class="help"><ng-include src="'resources/svg/help.svg'"></ng-include></span></div>
    				</div>
    			</div>
    		</div>
    		
    		<div class="dnd-socket" ng-hide="selectedItems.length != 0">
    			<ng-include src="'resources/svg/add-plug.svg'"></ng-include>			
    		</div>
    	</div>
    	
    	<div class="sell">
    		<button type="button" ng-click="toggleSidebar(); beginTrade()" ng-disabled="!validateSelectedItems()" ng-class="{ 'disabled': !validateSelectedItems() }">Продать</button>
    	</div>
        <div class="sidebar-toggle" ng-click="toggleSidebar();"><ng-include src="'resources/svg/sell.svg'"></ng-include></div>
    </div>
</div>

<div class="sell-step" ng-show="activeSell && isLoggedIn">
    <div class="content">
    
        <div class="content-top sell" ng-class="{ 'disabled': secondStep } ">
            <div class="content-top-wrapper">
                <h2><b>Шаг 1:</b> Укажите ссылку на обмен</h2>
                <h1>Ваша ссылка</h1>
                <input type="text" class="default" ng-disabled="secondStep" placeholder="Вставьте сюда ссылку" ng-model="user.link_trade">
            </div>
            
            <div class="instruction" ng-show="instruction">
                <h2>Как узнать свою ссылку на обмен?</h2>
                <ol>
                    <li>Перейдите туда-то. Опуститесь вниз страницы.</li>
                    <li>Там Вы увидете свою ссылку</li>
                </ol>
            </div>
            
            <div class="content-top-wrapper" ng-class="{ 'transparent': instruction } ">
                <button type="button" ng-disabled="!user.link_trade || secondStep" ng-class="{ 'disabled': !user.link_trade } " ng-click="confirmTradeLink(user.link_trade)">Следующий шаг</button>
                <div class="instruction-trigger" ng-click="instruction = !instruction" ng-show="instruction">Скрыть инструкцию</div>
                <div class="instruction-trigger" ng-click="instruction = !instruction" ng-hide="instruction">Показать инструкцию</div>
            </div>
        </div>
        
        <div class="content-top sell" ng-show="secondStep">
            <div class="content-top-wrapper">
                <h2><b>Шаг 2:</b> Примите обмен</h2>
                <h2>Вам отправлен обмен. Вы можете подтвердить его, пройдя по ссылке:</h2>
                <a ng-href="{{currentTrade[' link_trade']}}">{{currentTrade[' link_trade']}}</a>
                <div class="notice">Удостоверьтесь, что к обмену прикреплено сообщение с текстом: <b ng-bind="confirmationKey">DICKWAD</b>. Это гарантия того, что Вы отправляете свои вещи именно нам.</div>
                <div class="button-wrapper">
                    <button type="button" ng-show="showCheckManual" ng-click="checkTradeStatus()">Проверить статус</button>
                    <button type="button" ng-show="showCheckSuccess" ng-click="confirmTrade()">Я принял обмен</button>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="clear-sidebar" ng-show="sidebarMaximized" ng-click="$rootScope.menuMaximized = false; $rootScope.sidebarMaximized = false"></div>
    
    <div ng-class="{ 'maximized': sidebarMaximized == true && menuMaximized == false }" class="sidebar sell">
        <div class="scroller">
            <h1>Выбранный инвентарь</h1>
            
            <div class="sell-item" ng-repeat="item in selectedItems">
                <img draggable="false" ng-src="{{applicationUtils.imageURL(item.description.icon_url_large, 300)}}">
                <div class="item-info">
                    <div class="title">{{item.description.market_name}}</div>
                    <div class="price">Ваша цена: <b>{{item.price}}</b></div>
                </div>
            </div>
            
        </div>        
        
        <div class="sell">
            <button type="button" class="red" ng-click="cancelTrade()">Отменить продажу</button>
        </div>
        <div class="sidebar-toggle" ng-click="toggleSidebar();"><ng-include src="'resources/svg/sell.svg'"></ng-include></div>
        
    </div>
</div>