<div class="content fullsize">
    <div class="content-top agreement">
        <h1>Связаться с нами</h1>
    	<div class="social-networks">
            <div><a class="icon email" href="mailto:support@steamtrade.net">@</a><a href="mailto:support@steamtrade.net">support@steamtrade.net</a></div>
            <div><a class="icon" href="https://www.facebook.com/groups/SteamTrade.net"><ng-include src="'resources/svg/facebook.svg'"></ng-include></a><a href="https://www.facebook.com/groups/SteamTrade.net">facebook.com/groups/SteamTrade.net</a></div>
            <div><a class="icon" href="https://twitter.com/SteamTrade_net"><ng-include src="'resources/svg/twitter.svg'"></ng-include></a><a href="https://twitter.com/SteamTrade_net">twitter.com/SteamTrade_net</a></div>
            <div><a class="icon" href="https://vk.com/steamtrade_net"><ng-include src="'resources/svg/vkontakte.svg'"></ng-include></a><a href="https://vk.com/steamtrade_net">vk.com/steamtrade_net</a></div>
        </div>
        <br><br>
        <h1>О компании</h1>
        <div>Полное наименование организации:</div> 
        <div>Общество с ограниченной ответственностью «Стимтрэйд»</div>
        <br>
        <div>Юридический адрес:</div> 
        <div>603024, г. Нижний Новгород, ул. Максима Горького, д.195, п.34</div>
        <p>ИНН/КПП: 5260405784/526001001</p>        
        <p>ОГРН: 1155260002468</p>
    </div>
</div>


            