<div class="content columns-{{columns}} fullsize">
	<div class="content-top" ng-show="item">
        <img class="item-image" ng-src="{{item.icon_url_large ? applicationUtils.imageURL(item.icon_url_large, 650) : applicationUtils.imageURL(item.icon_url, 650)}}">
        <div class="item-description">
            <h1>{{item.market_hash_name}}</h1>
            <div class="description-entity" style="color: #{{description.color}}" ng-repeat="description in item.descriptionsArray" ng-bind-html="toTrusted(description.value)"></div>
            <br>
            <div class="tag" ng-repeat="tag in item.tags"><b>{{tag.category}}:</b> {{tag.name}}</div>
            <div class="price"><b>Цена: </b>{{offers[0].price}}</div>
            <button type="button">Купить</button>
        </div>
	</div>
 
    <div class="content-top" ng-show="item" ng-repeat="offer in offers" ng-if="$index > 0">
        <img class="item-image-small" ng-src="{{item.icon_url_large ? applicationUtils.imageURL(item.icon_url_large, 650) : applicationUtils.imageURL(item.icon_url, 650)}}">
        <div class="item-description-small">
            <h1>{{item.market_hash_name}}</h1>
            <div class="price"><b>Цена: </b>{{offer.price}}</div>
            <button type="button">Купить</button>
        </div>
    </div>
	
</div>
