<div class="content columns-{{columns}} fullsize">
	<div class="content-top">
		<div class="game">
			<h1>Выберите игру</h1>
			<div ui-sref="buy_state({game: 570})" ng-click="clearCachedOffers()" ng-class="{ 'current': selectedGame == 570}"><ng-include src="'resources/svg/dota.svg'"></ng-include></div>
			<div ui-sref="buy_state({game: 730})" ng-click="clearCachedOffers()" ng-class="{ 'current': selectedGame == 730}"><ng-include src="'resources/svg/csgo.svg'"></ng-include></div>
			<div ui-sref="buy_state({game: 440})" ng-click="clearCachedOffers()" ng-class="{ 'current': selectedGame == 440}"><ng-include src="'resources/svg/tf.svg'"></ng-include></div>
		</div>
		
		<div class="search" ng-show="selectedGame">
			<div class="search-block">
                <h1>Поиск по названию</h1>
			    <input type="text" class="default name-filter" ng-model="search.description.market_name" placeholder="Введите название" ng-keyup="$event.keyCode == 13 && getOffersBtn()">
            </div>
            <div class="search-block">
                <h1>Сортировка</h1>
                <div class="custom-select">
                     <ng-include src="'resources/svg/arrow.svg'"></ng-include>
                     <input readonly type="text" class="default" placeholder="Название" ng-model="sort.value" ng-focus="selectSort = true" ng-blur="selectSort = false">
                     <ul ng-class="{ 'visible': selectSort == true }">
                         <li ng-click="$parent.sort.value = 'Название'; $parent.sort.id = 3; $parent.selectSort = false">Название</li>
                         <li ng-click="$parent.sort.value = 'Цена, сначала недорогие'; $parent.sort.id = 1; $parent.selectSort = false">Цена, сначала недорогие</li>
                         <li ng-click="$parent.sort.value = 'Цена, сначала дорогие'; $parent.sort.id = 2; $parent.selectSort = false">Цена, сначала дорогие</li>
                     </ul>
                </div>
            </div>
			<button type="button" ng-hide="filterBlock" class="filter-button" ng-click="getOffersBtn()">Подобрать</button>
			<div class="filter" ng-click="selectedGame ? filterBlock = !filterBlock : null"><ng-include src="'resources/svg/filter.svg'"></ng-include></div>
			<div class="filter-block buy" ng-show="filterBlock">
				<div>
					<div class="price-block">
						<h1>Цена</h1>
						<span>От</span><input class="default price" type="text" ng-model="search.price.from">
						<span>до</span><input class="default price" type="text" ng-model="search.price.to">
					</div>
                    <div ng-repeat="filter in tagsProps[selectedGame].filters">
                        <h1>{{tagsProps[selectedGame].properties[language][filter.property]}}</h1>
                        <div class="custom-select">
                            <ng-include src="'resources/svg/arrow.svg'"></ng-include>
                            <input type="text" class="default" placeholder="Выберите/введите" ng-model="gameFilters.customSelect[filter.property].val" ng-focus="gameFilters.onFocus(filter.property)" ng-blur="gameFilters.onBlur(filter.property)" ng-keydown="gameFilters.navigateList($event, filter.property)">
                            <ul id="{{filter.property}}" ng-class="{ 'visible': gameFilters.customSelect[filter.property].show == true }">
                                <li ng-class="{ 'selected': $index == gameFilters.customSelect[filter.property].selected }" ng-attr-id="{{ filter.property + '-' + $index }}" ng-repeat="tag in (gameFilters.customSelect[filter.property].list = (filter.tags | filter: gameFilters.typeAhead(gameFilters.customSelect[filter.property].val) | orderBy: gameFilters.alphabeticalSort(filter.alphabetic, filter.tags)))" ng-click="gameFilters.onSelect(filter.property, tag)">
                                    {{tagsProps[selectedGame].tags[language][tag]}}
                                </li>
                            </ul>
                            <div ng-show="filter.multiple" class="tag" ng-repeat="tag in gameFilters.tags[filter.property]">{{tagsProps[selectedGame].tags[language][tag]}} <span ng-click="gameFilters.subtractFilter(filter.property, $index);"></span></div>
                        </div>
                    </div>
                    <div class="centered">
                        <button type="button" class="filter-button" ng-click="getOffersBtn()">Подобрать</button>
                    </div>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-repeat="offer in offers.offers" class="content-block buy" ng-class="{ 'transparent': filterBlock == true }">
		<div class="offer-block" ui-sref="buy_item_state({game: selectedGame, item: offer.market_hash_name})">
            <img draggable="false" ng-src="{{offer.icon_url_large ? applicationUtils.imageURL(offer.icon_url_large, 300) : applicationUtils.imageURL(offer.icon_url, 300)}}">
    		<div class="info-1">
    			<div class="title">{{offer.market_name}}</div>
    			<div>Количество: <span>{{offer.count}}</span></div>
    			<div>Цена: <span class="price">{{offer.min_price / 100}}</span></div>
    			<div>Цена в Steam: <span class="steam-price">{{offer.min_price / 100}}</span></div>			
    		</div>
    		<div class="info-2">
    			<div ng-show="offer.tags.Hero"><b>Герой: </b>{{tagsProps[selectedGame].tags[language][offer.tags.Hero]}}</div>
                <div ng-show="offer.tags.Quality"><b>Качество: </b>{{tagsProps[selectedGame].tags[language][offer.tags.Quality]}}</div>
                <div ng-show="offer.tags.Rarity"><b>Редкость: </b>{{tagsProps[selectedGame].tags[language][offer.tags.Rarity]}}</div>
                <div ng-show="offer.tags.Slot"><b>Слот: </b>{{tagsProps[selectedGame].tags[language][offer.tags.Slot]}}</div>
                <div ng-show="offer.tags.Type"><b>Тип: </b>{{tagsProps[selectedGame].tags[language][offer.tags.Type]}}</div>
                <div ng-show="offer.tags.Weapon"><b>Оружие: </b>{{tagsProps[selectedGame].tags[language][offer.tags.Weapon]}}</div>
                <div ng-show="offer.tags.ItemSet"><b>Коллекция: </b>{{tagsProps[selectedGame].tags[language][offer.tags.ItemSet]}}</div>
    		</div>
        </div>
        <div class="info-3">
            <button type="button" ng-click="buyButton(offer.market_hash_name)">Купить</button>
        </div>
	</div>
 
    <ul class="content-bottom" ng-if="offers.total_count > 12">
        <li ng-if="currentPage.page != 1">
            <a ui-sref="buy_state({game: selectedGame, page: 1})" ng-click="clearCachedOffers()">&laquo;</a>
        </li>
        <li ng-if="currentPage.page != 1">
            <a ui-sref="buy_state({game: selectedGame, page: currentPage.page})" ng-click="clearCachedOffers()">&lsaquo;</a>
        </li>
        <li class="pages" ng-repeat="pageNumber in totalPages track by $index" ng-class="{ active : currentPage.page == pageNumber, disabled : pageNumber == '...' }">
            <a ui-sref="pageNumber == '...' ? '' : buy_state({game: selectedGame, page: pageNumber})" ng-click="clearCachedOffers()">{{ pageNumber }}</a>
        </li>
        <li ng-if="currentPage.page != Math.ceil(offers.total_count/12)">
            <a ui-sref="buy_state({game: selectedGame, page: currentPage.page + 1})" ng-click="clearCachedOffers()">&rsaquo;</a>
        </li>
        <li ng-if="currentPage.page != Math.ceil(offers.total_count/12)">
            <a ui-sref="buy_state({game: selectedGame, page: Math.ceil(offers.total_count/12)})" ng-click="clearCachedOffers()">&raquo;</a>
        </li>
    </ul>
	
</div>
