<div class="content fullsize">

	<div class="content-top lots">
        <button type="button" ng-class="{'invert': selectedTab == 'history'}" ng-click="selectedTab = 'current'">Текущие</button>
        <button type="button" ng-class="{'invert': selectedTab != 'history'}" ng-click="selectedTab = 'history'">История</button>
    </div>
    
    <div class="content-block lots" ng-hide="selectedTab == 'history'">
        <img src="">
        <div class="item">Название предмета</div>
        <button type="button" class="red">Снять лот</button>
        <div class="date">21 декабря 2012 15:00</div>
        <div class="price">Цена <span>500</span></div>
    </div>
    
    <div class="content-block lots" ng-show="selectedTab == 'history'">
        <img src="">
        <div class="item">Название предмета</div>
        <div class="status red">Снят</div>
        <div class="date">20 декабря 2012 16:00</div>
        <div class="price">Цена <span>500</span></div>
    </div>
    
    <div class="content-block lots" ng-show="selectedTab == 'history'">
        <img src="">
        <div class="item">Название пениса</div>
        <div class="status">Продан</div>
        <div class="date">19 декабря 2012 12:00</div>
        <div class="price">Цена <span>500</span></div>
    </div>
    
</div>