<div class="content fullsize" ng-show="!isLoggedIn && !isUserUpdating">
    <div class="error-message">Для просмотра данной страницы необходимо войти на сайт через Steam.</div>
</div>

<div class="content fullsize" ng-show="isLoggedIn">

	<div class="content-top lots">
        <button type="button" ng-class="{'invert': selectedTab == 'history'}" ng-click="initOffers(true)">Текущие</button>
        <button type="button" ng-class="{'invert': selectedTab != 'history'}" ng-click="initOffers(false)">История</button>
    </div>
    
    <div class="content-block lots" ng-repeat="offer in offers">
        <img ng-src="{{offer.item.icon_url_large ? applicationUtils.imageURL(offer.item.icon_url_large, 300) : applicationUtils.imageURL(offer.item.icon_url, 300)}}">
        <div class="item">{{offer.item.name}}</div>
        <button type="button" class="red" ng-show="offer.status_offer == 'opening'" ng-click="deleteOfferById(offer.id)">Снять лот</button>
        <div class="status red" ng-show="offer.status_offer == 'canceled'">Снят</div>
        <div class="status" ng-show="offer.status_offer == 'closing'">Продан</div>
        <div class="date">{{offer.human_time}}</div>
        <div class="price">Цена <span>{{offer.price / 100}}</span></div>
    </div>
    
</div>