<div class="content fullsize" ng-show="!isLoggedIn && !isUserUpdating">
    <div class="error-message">Для просмотра данной страницы необходимо войти на сайт через Steam.</div>
</div>

<div class="content" ng-show="isLoggedIn && withdrawMethods.length && depositMethods.length">
    <div class="content-top deposit">
        <div><b>Пополнение средств</b></div>
        <div class="deposit-block">
            <h1>Платежный шлюз</h1>
            <div class="custom-select">
                <ng-include src="'resources/svg/arrow.svg'"></ng-include>
                <input readonly type="text" class="default" placeholder="Выберите способ" ng-model="depositDisplay" ng-focus="selectDeposit = true" ng-blur="selectDeposit = false">
                <input type="text" class="hidden" ng-model="deposit">
                <ul ng-class="{ 'visible': selectDeposit == true }">
                    <li ng-repeat="item in depositMethods" ng-click="$parent.depositMethod = item; $parent.depositDisplay = item.name; $parent.deposit = item.alias; $parent.selectDeposit = false">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="deposit-block">
            <h1>Сумма</h1>
            <input type="text" placeholder="Введите сумму" ng-model="depositSum" class="default" onkeypress='return event.charCode >= 44 && event.charCode <= 57 && event.charCode != 45 && event.charCode != 47'>
        </div>
        <button type="button" ng-disabled="!depositDisplay || !depositSum" ng-click="depositBtn()">Пополнить</button>
        <div class="commission" ng-show="depositDisplay">Комиссия: {{depositMethod.commission}}%</div>
    </div>
    
	<div class="content-top deposit">
		<div><b>Вывод средств</b></div>
        <div class="deposit-block">
    		<h1>Платежный шлюз</h1>
            <div class="custom-select">
                <ng-include src="'resources/svg/arrow.svg'"></ng-include>
                <input readonly type="text" class="default" placeholder="Выберите способ" ng-model="withdrawDisplay" ng-focus="selectWithdraw = true" ng-blur="selectWithdraw = false">
                <input type="text" class="hidden" ng-model="withdraw">
                <ul ng-class="{ 'visible': selectWithdraw == true }">
                    <li ng-repeat="item in withdrawMethods" ng-click="$parent.withdrawMethod = item; $parent.withdrawDisplay = item.name; $parent.withdraw = item.alias; $parent.selectWithdraw = false">{{item.name}}</li>
                </ul>
            </div>
        </div>
    
        <div ng-show="withdrawDisplay" class="balance">            
            <div class="withdraw-block">
                <h1>{{withdrawMethod.text}}</h1>
                <input type="text" ng-model="withdrawTarget" placeholder="{{withdrawMethod.text}}" class="default withdraw-target">
            </div>
            <div class="withdraw-block">
                <h1>Сумма</h1>
                <input type="text" ng-model="withdrawSum" placeholder="Введите сумму" class="default">
            </div>
            
            <div class="controls">
                <button type="button" ng-disabled="!withdrawDisplay || !withdrawTarget || !withdrawSum" ng-click="withdrawBtn()">Вывести</button>
            </div>
            <div class="commission">Комиссия: {{withdrawMethod.commission}}%</div>
        </div>
	</div>
</div>

<div class="clear-sidebar" ng-show="sidebarMaximized" ng-click="toggleSidebar();"></div>

<div ng-class="{ 'maximized': sidebarMaximized == true }" class="sidebar" ng-show="isLoggedIn">
	<div class="scroller fullsize">
		<h1>История операций</h1>
		<div class="balance-history" ng-class="{'positive' : item.type == 'sale' || item.type == 'enter_money', 'negative' : item.type == 'buy' || item.type == 'withdraw'}" ng-repeat="item in paymentHistory">
			<div class="date">{{item.human_time}}</div>
			<div class="action">
                <span ng-if="item.type == 'buy'">Покупка</span>
                <span ng-if="item.type == 'sale'">Продажа</span>
                <span ng-if="item.type == 'enter_money'">Пополнение средств</span>
                <span ng-if="item.type == 'withdraw'">Снятие средств</span>
                {{item.item_name}}
            </div>
			<div class="money">Сумма: <span class="price">{{item.sum / 100}}</span></div>
		</div>
	</div>
    <div class="sidebar-toggle" ng-click="toggleSidebar();"><ng-include src="'resources/svg/history.svg'"></ng-include></div>
</div>