<div class="content fullsize" ng-show="!isLoggedIn && !isUserUpdating">
    <div class="error-message">Для просмотра данной страницы необходимо войти на сайт через Steam.</div>
</div>

<div class="content" ng-show="isLoggedIn">
    <div class="content-top deposit">
        <div><b>Пополнение средств</b></div>
        <div class="deposit-block">
            <h1>Платежный шлюз</h1>
            <div class="custom-select">
                <ng-include src="'resources/svg/arrow.svg'"></ng-include>
                <input readonly type="text" class="default" placeholder="Выберите способ" ng-model="gatewayDisplay" ng-focus="selectTheme = true" ng-blur="selectTheme = false">
                <input type="text" class="hidden" ng-model="gateway">
                <ul ng-class="{ 'visible': selectTheme == true }">
                    <li ng-repeat="item in paymentMethods" ng-click="$parent.gatewayDisplay = item.name; $parent.gateway = item.value; $parent.selectTheme = false">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="deposit-block">
            <h1>Сумма</h1>
            <input type="text" placeholder="Введите сумму" ng-model="depositSum" class="default" onkeypress='return event.charCode >= 44 && event.charCode <= 57 && event.charCode != 45 && event.charCode != 47'>
        </div>
        <button type="button" ng-click="deposit()">Пополнить</button>
    </div>
    
	<div class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 1</div>
		<h1>Платежные системы</h1>
		<span id="visa" ng-click="selectMethod('visa')" ng-class="{ 'current': selectedMethod == 'visa' }" class="method"><ng-include src="'resources/svg/visa.svg'"></ng-include></span>
		<span id="mastercard" ng-click="selectMethod('mastercard')" ng-class="{ 'current': selectedMethod == 'mastercard' }" class="method"><ng-include src="'resources/svg/mastercard.svg'"></ng-include></span>
		<span id="paypal" ng-click="selectMethod('paypal')" ng-class="{ 'current': selectedMethod == 'paypal' }" class="method"><ng-include src="'resources/svg/paypal.svg'"></ng-include></span>
		<span id="webmoney" ng-click="selectMethod('webmoney')" ng-class="{ 'current': selectedMethod == 'webmoney' }" class="method"><ng-include src="'resources/svg/webmoney.svg'"></ng-include></span>
		<span id="qiwi" ng-click="selectMethod('qiwi')" ng-class="{ 'current': selectedMethod == 'qiwi' }" class="method"><ng-include src="'resources/svg/qiwi.svg'"></ng-include></span>
		<span id="yandex" ng-click="selectMethod('yandex')" ng-class="{ 'current': selectedMethod == 'yandex' }" class="method"><ng-include src="'resources/svg/yandex.svg'"></ng-include></span>
	</div>
	
	<div ng-show="selectedMethod == 'visa'" class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 2</div>
		
		<div class="left">
			<h1>Номер вашей карты</h1>
			<input type="text" placeholder="Введите номер карты" class="default">
		</div>
		<div class="right">
			<h1>Сумма</h1>
			<input type="text" placeholder="Введите сумму" class="default">
		</div>
		
		<div class="controls">
			<a href="#">О выводе средств</a>
			<button type="button">Вывести</button>
		</div>
	</div>
	
	<div ng-show="selectedMethod == 'mastercard'" class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 2</div>
		
		<div class="left">
			<h1>Номер вашей карты</h1>
			<input type="text" placeholder="Введите номер карты" class="default">
		</div>
		<div class="right">
			<h1>Сумма</h1>
			<input type="text" placeholder="Введите сумму" class="default">
		</div>
		
		<div class="controls">
			<a href="#">О выводе средств</a>
			<button type="button">Вывести</button>
		</div>
	</div>
	
	<div ng-show="selectedMethod == 'paypal'" class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 2</div>
		
		<div class="left">
			<h1>Ваш кошелек PayPal</h1>
			<input type="text" placeholder="Введите кошелек" class="default">
		</div>
		<div class="right">
			<h1>Сумма</h1>
			<input type="text" placeholder="Введите сумму" class="default">
		</div>
		
		<div class="controls">
			<a href="#">О выводе средств</a>
			<button type="button">Вывести</button>
		</div>
	</div>
	
	<div ng-show="selectedMethod == 'webmoney'" class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 2</div>
		
		<div class="left">
			<h1>Ваш кошелек Webmoney</h1>
			<input type="text" placeholder="Введите номер кошелька" class="default">
		</div>
		<div class="right">
			<h1>Сумма</h1>
			<input type="text" placeholder="Введите сумму" class="default">
		</div>
		
		<div class="controls">
			<a href="#">О выводе средств</a>
			<button type="button">Вывести</button>
		</div>
	</div>
	
	<div ng-show="selectedMethod == 'qiwi'" class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 2</div>
		
		<div class="left">
			<h1>Ваш Qiwi кошелек</h1>
			<input type="text" placeholder="Введите номер кошелька" class="default">
		</div>
		<div class="right">
			<h1>Сумма</h1>
			<input type="text" placeholder="Введите сумму" class="default">
		</div>
		
		<div class="controls">
			<a href="#">О выводе средств</a>
			<button type="button">Вывести</button>
		</div>
	</div>
	
	<div ng-show="selectedMethod == 'yandex'" class="content-top balance">
		<div><b>Вывод средств:</b> Шаг 2</div>
		
		<div class="left">
			<h1>Ваш Яндекс кошелек</h1>
			<input type="text" placeholder="Введите номер кошелька" class="default">
		</div>
		<div class="right">
			<h1>Сумма</h1>
			<input type="text" placeholder="Введите сумму" class="default">
		</div>
		
		<div class="controls">
			<a href="#">О выводе средств</a>
			<button type="button">Вывести</button>
		</div>
	</div>
</div>

<div class="clear-sidebar" ng-show="sidebarMaximized" ng-click="toggleSidebar();"></div>

<div ng-class="{ 'maximized': sidebarMaximized == true }" class="sidebar" ng-show="isLoggedIn">
	<div class="scroller fullsize">
		<h1>История операций</h1>
		<div class="balance-history" ng-class="{'positive' : item.type == 'sale' || item.type == 'enter_money', 'negative' : item.type == 'buy' || item.type == 'withdraw'}" ng-repeat="item in paymentHistory">
			<div class="date">{{item.human_time}}</div>
			<div class="action">
                <span ng-if="item.type == 'buy'">Покупка</span>
                <span ng-if="item.type == 'sale'">Продажа</span>
                <span ng-if="item.type == 'enter_money'">Пополнение средств</span>
                <span ng-if="item.type == 'withdraw'">Снятие средств</span>
                {{item.item_name}}
            </div>
			<div class="money">Сумма: <span class="price">{{item.sum / 100}}</span></div>
		</div>
	</div>
    <div class="sidebar-toggle" ng-click="toggleSidebar();"><ng-include src="'resources/svg/history.svg'"></ng-include></div>
</div>